{% extends "bootstrap/base.html" %}

<!------------------------------------------------------------------------------------------>
<!------------------------------      Nav bar start        --------------------------------->
<!------------------------------------------------------------------------------------------>
{% block navbar %}
{{nav.top.render()}}

<!------------------------------------------------------------------------------------------>
<!------------------------------       Nav bar end         --------------------------------->
<!------------------------------------------------------------------------------------------>


<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
    </head>

    <body>

        <pre id="output" 
        style = 
        "width: 1400px; 
        height: 
        20pc;  
        overflow-y: scroll; 
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        font-size: 15px;
        font-family: 'Trebuchet MS', sans-serif;"></pre>
        <p>This is the latest output: <span id="latest"></span></p>

        <!-- LENI -->
        <script>
            var xhrLeni = new XMLHttpRequest();
            xhrLeni.open('GET', '{{ url_for('streamLeni') }}');
            xhrLeni.send();

            function releaseLeni(){
                var messages = xhrLeni.responseText.split('\n').filter(v => v !== 'a').filter(v => v !== '0').map(Number);
                return messages
            //direct var xhr only works when it inside a function 
            // to add all in a list arr.reduce((partialSum, a) => partialSum + a, 0)
            };
        </script>
        
        <!-- Narcos -->
        <script>
            var xhrNarc = new XMLHttpRequest();
            xhrNarc.open('GET', '{{ url_for('streamMarcos') }}');
            xhrNarc.send();

            function releaseNarc(){
                var messages = xhrNarc.responseText.split('\n').filter(v => v !== 'a').filter(v => v !== '0').map(Number);
                return messages
            //direct var xhr only works when it inside a function 
            // to add all in a list arr.reduce((partialSum, a) => partialSum + a, 0)
            };
        </script>

        <!-- Isko -->
        <script>
            var xhrIsko = new XMLHttpRequest();
            xhrIsko.open('GET', '{{ url_for('streamIsko') }}');
            xhrIsko.send();

            function releaseIsko(){
                var messages = xhrIsko.responseText.split('\n').filter(v => v !== 'a').filter(v => v !== '0').map(Number);
                return messages
            //direct var xhr only works when it inside a function 
            // to add all in a list arr.reduce((partialSum, a) => partialSum + a, 0)
            };
        </script>   

        <!-- Ping -->
        <script>
            var xhrPing = new XMLHttpRequest();
            xhrPing.open('GET', '{{ url_for('streamPing') }}');
            xhrPing.send();

            function releasePing(){
                var messages = xhrPing.responseText.split('\n').filter(v => v !== 'a').filter(v => v !== '0').map(Number);
                return messages
            //direct var xhr only works when it inside a function 
            // to add all in a list arr.reduce((partialSum, a) => partialSum + a, 0)
            };
        </script>

        <!-- Pacman -->
        <!-- <script>
            var xhrPac = new XMLHttpRequest();
            xhrPac.open('GET', '{{ url_for('streamPacman') }}');
            xhrPac.send();

            function releasePac(){
                var messages = xhrPac.responseText.split('\n').filter(v => v !== 'a').filter(v => v !== '0').map(Number);
                return messages
            //direct var xhr only works when it inside a function 
            // to add all in a list arr.reduce((partialSum, a) => partialSum + a, 0)
            };
        </script> -->

        <!-- Dates -->
        <script>
            var xhrDate = new XMLHttpRequest();
            xhrDate.open('GET', '{{ url_for('streamDate') }}');
            xhrDate.send();

            function releaseDateLeni(){
                var messages = xhrDate.responseText.split('\n').filter(v => v !== 'a').filter(v => v !== '');
                return messages
            //direct var xhr only works when it inside a function 
            // to add all in a list arr.reduce((partialSum, a) => partialSum + a, 0)
            };
        </script>

        <script>
        //////////---only for scrolling---/////////
        window.setInterval(function() { //automatically scrolls down the output box//
        var elem = document.getElementById('output');

        elem.scrollTop = elem.scrollHeight;
        }, 1000);
        /////////-------------------------//////

        ///---Script that handles the release of tweets to the output box---///
            var latest = document.getElementById('latest');
            var output = document.getElementById('output');
        
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '{{ url_for('stream') }}');
            xhr.send();
            var position = 0;
                    
            function handleNewData() {
                // the response text include the entire response so far
                // split the messages, then take the messages that haven't been handled yet
                // position tracks how many messages have been handled
                // messages end with a newline, so split will always show one extra empty message at the end
                var messages = xhr.responseText.split('\n');

                messages.slice(position, -1).forEach(function(value) {
                    latest.textContent = value;  // update the latest value in place
                    // build and append a new item to a list to log all output
                    var item = document.createElement('li');
                    item.textContent = value;
                    output.appendChild(item);
                });

                position = messages.length - 1;
            }

            var timer;
            timer = setInterval(function() {
                // check the response for new data
                handleNewData();
                // release();
                // stop checking once the response has ended
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    clearInterval(timer);
                    latest.textContent = 'Done';
                }
            }, 1000);
            

        ///--------------------------------------///
            </script>

        <!-- <script>
        const fs = require("fs");

        fs.open('C:\\Users\\Winzyl\\Desktop\\migrate\\filename.csv', "r", (err, file) => {
        if (err) throw err;
        console.log(file);
        });

        </script> -->

        <!-- CHART -->
        <div>
            <canvas id="myChart"></canvas>
        </div>
        
        <script>

            const labels = [];
            const countLeni = [];
            const countMarcos = [];
            const countPing = [];
            const countIsko = [];
            // const countManny = [];
          
            const data = {
              labels: labels,
              datasets: [{
                label: 'Leni Robredo Percent Positive',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: countLeni,
              },
              {
                label: 'Marcos Percent Positive',
                backgroundColor: 'rgb(255,0,0)',
                borderColor: 'rgb(255,0,0)',
                data: countMarcos,
              },
              {
                label: 'Ping Lacson Percent Positive',
                backgroundColor: 'rgb(0,0,255)',
                borderColor: 'rgb(0,0,255)',
                data: countPing,
              },
              {
                label: 'Isko Moreno Percent Positive',
                backgroundColor: 'rgb(238,130,238)',
                borderColor: 'rgb(238,130,238)',
                data: countIsko,
              },
            //   {
            //     label: 'Manny Pacquiao Percent Positive',
            //     backgroundColor: 'rgb(255,255,0)',
            //     borderColor: 'rgb(255,255,0)',
            //     data: countManny,
            //   }

            ]
            };
          
            const config = {
              type: 'line',
              data: data,
              options: {
                scales: {
                        yAxes: {
                            title: {
                                display: true,
                                text: "Percent Positive",
                                font: {
                                    size: 15
                                }
                            },
                            ticks: {
                                precision: 0
                            }
                        }     
                    }
                }
            };
        </script>
        
        <script>
            const myChart = new Chart(
              document.getElementById('myChart'),
              config
            );


        </script>
        
        <script>
        let add = 10;
                
        setInterval(function(){ 
            var ratioLeni = releaseLeni();
            var ratioMarcos = releaseNarc();
            var ratioIsko = releaseIsko();
            var ratioPing = releasePing();
            // var ratioPac = releasePac();

            var chartDate = releaseDateLeni();
            console.log(ratioLeni);
            console.log(ratioMarcos);
            console.log(chartDate);

            const labels = [];
            const countLeni = [];
            const countMarcos = [];
            const countPing = [];
            const countIsko = [];
            const countManny = [];

            myChart.config.data = {
              labels: labels,
              datasets: [{
                label: 'Leni Robredo',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: countLeni,
              },
              {
                label: 'Marcos',
                backgroundColor: 'rgb(255,0,0)',
                borderColor: 'rgb(255,0,0)',
                data: countMarcos,
              },
              {
                label: 'Ping Lacson',
                backgroundColor: 'rgb(0,0,255)',
                borderColor: 'rgb(0,0,255)',
                data: countPing,
              },
              {
                label: 'Isko Moreno',
                backgroundColor: 'rgb(238,130,238)',
                borderColor: 'rgb(238,130,238)',
                data: countIsko,
              },
            //   {
            //     label: 'Manny Pacquiao Percent Positive',
            //     backgroundColor: 'rgb(255,255,0)',
            //     borderColor: 'rgb(255,255,0)',
            //     data: countManny,
            //   }
            ]
            };
            myChart.update();

            for(i=0;i<ratioLeni.length;i++){
                countLeni.push(ratioLeni[i]);
            }

            for(i=0;i<ratioMarcos.length;i++){
                countMarcos.push(ratioMarcos[i]);
            }

            for(i=0;i<ratioIsko.length;i++){
                countIsko.push(ratioIsko[i]);
            }

            for(i=0;i<ratioPing.length;i++){
                countPing.push(ratioPing[i]);
            }

            // for(i=0;i<ratioPac.length;i++){
            //     countManny.push(ratioPac[i]);
            // }

            for(i=0;i<chartDate.length;i++){
                labels.push(chartDate[i]);
            }

            // count.push(testnumber);
            // labels.push("febprilarch");
            myChart.update();
        }, 10000);//run this thang every 2 seconds
        
        
        </script>
        <!-- CHART -->


    </body>
</html>



{% endblock %}